body {
    background: purple;
    margin: 0;
    padding: 0;
}

/* LOADER 1 DONE Source: https://www.youtube.com/watch?v=lnBP8xjga2A */


.loader1 {
    position: absolute;
    height: 40px;    
    top: 20%;
    left: 50%;
    transform: translateX(-50) translateY(-50%);    
}

.loader1 span {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition: all .5s;
    animation: animate 2s infinite;
}

.loader1 span:nth-child(1) {
    animation-delay: .1s;
}

.loader1 span:nth-child(2) {
    animation-delay: .2s;
}

.loader1 span:nth-child(3) {
    animation-delay: .3s;
}

.loader1 span:nth-child(4) {
    animation-delay: .4s;
}

.loader1 span:nth-child(5) {
    animation-delay: .5s;
}

.loader1 span:nth-child(6) {
    animation-delay: .6s;
}

.loader1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
@keyframes animate {
    0%
    {
        border: 1px solid white;
        background: transparent;
        transform: translateY(0);
    } 
    50%
    {
        border: 1px solid white;
        background: red;
        transform: translateY(-25px);
    }  
    100%
    {
        border: 1px solid white;
        background: yellow;
        transform: translateY(0);
    }     
}

/* LOADER 2 ERROR??? Source: https://www.youtube.com/watch?v=tla17buc3tw&t=3s */

.loader2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50) translateY(-50%);    
}

.loader2 span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgba(255,255,255,.1);
    display: inline-block;
    transition: all .5s;
    animation: animate2 2s infinite;
}

.loader2 span:nth-child(1) 
{
    {animation-delay: .1s;}
}

.loader2 span:nth-child(2) {
    {animation-delay: .2s;}
}

.loader2 span:nth-child(3) 
{
    {animation-delay: .3s;}
}

.loader2 span:nth-child(4) 
{
    {animation-delay: .4s;}
}

.loader2 span:nth-child(5) 
{
    {animation-delay: .5s;}
}

.loader2 span:nth-child(6) 
{
    {animation-delay: .6s;}
}
.loader2 span:nth-child(7) 
{
    {animation-delay: .7s;}
}
@keyframes animate2 
{
    0%
    {
        color: rgba(255,255,255,.1);
        transform: translateY(0);
        margin-left: 0;
    }
    25%
    {
        color: yellow;
        transform: translateY(-15px);
        margin-left: 10px;
        text-shadow: 0 15px 5px rgba(0,0,0,1);
    }
    100%
    {
        color: rgba(255,255,255,.1);
        transform: translateY(0);
    }  
}
    